/* start custom scss snippet */
code {
  font-size: map-get($base, font-size-sm);
  line-height: 1.4;
}
.page__aside .toc-aside {
  padding: 3rem 0 1rem 1rem;
}

.ic-java {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1165px -430px;
}

.ic-python {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -10px -850px;
}

.ic-js {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -394px -850px;
}

.ic-php {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -778px -850px;
}

.ic-html {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1162px -850px;
}

.ic-css {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1550px -10px;
}

.ic-node {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1550px -430px;
}

.ic-oracle {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1550px -850px;
}

.ic-mysql {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -10px -1270px;
}

.ic-mongodb {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -394px -1270px;
}

.ic-elasticsearch {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -778px -1270px;
}

.ic-redis {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1162px -1270px;
}

.ic-flask {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1546px -1270px;
}

.ic-docker {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1934px -10px;
}

.ic-k8s {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1934px -430px;
}

.ic-linux {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1934px -850px;
}

.ic-windows {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -1934px -1270px;
}

.ic-postgresql {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -10px -1690px;
}

.ic-vuejs {
  width: 364px; height: 400px;
  background: url('css_sprites.png') -394px -1690px;
}

.ic-ps {
  width: 365px; height: 400px;
  background: url('css_sprites.png') -10px -10px;
}

.ic-xd {
  width: 365px; height: 400px;
  background: url('css_sprites.png') -395px -10px;
}

.ic-ai {
  width: 365px; height: 400px;
  background: url('css_sprites.png') -780px -10px;
}

.ic-spring {
  width: 365px; height: 400px;
  background: url('css_sprites.png') -10px -430px;
}

.ic-gis {
  width: 365px; height: 400px;
  background: url('css_sprites.png') -395px -430px;
}

.ic-game {
  width: 365px; height: 400px;
  background: url('css_sprites.png') -780px -430px;
}

.ic-ws {
  width: 365px; height: 400px;
  background: url('css_sprites.png') -1165px -10px;
}