/* start custom scss snippet */
code {
  font-size: map-get($base, font-size-sm);
  line-height: 1.4;
}
.page__aside .toc-aside {
  padding: 3rem 0 1rem 1rem;
}

.ic-java {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -10px -10px;
}

.ic-python {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -144px -10px;
}

.ic-js {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -278px -10px;
}

.ic-php {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -10px -155px;
}

.ic-html {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -144px -155px;
}

.ic-css {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -278px -155px;
}

.ic-node {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -412px -10px;
}

.ic-oracle {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -412px -155px;
}

.ic-mysql {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -10px -300px;
}

.ic-mongodb {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -144px -300px;
}

.ic-elasticsearch {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -278px -300px;
}

.ic-redis {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -412px -300px;
}

.ic-flask {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -546px -10px;
}

.ic-docker {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -546px -155px;
}

.ic-k8s {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -546px -300px;
}

.ic-linux {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -10px -445px;
}

.ic-windows {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -144px -445px;
}

.ic-postgresql {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -278px -445px;
}

.ic-vuejs {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -412px -445px;
}

.ic-ps {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -546px -445px;
}

.ic-xd {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -680px -10px;
}

.ic-ai {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -680px -155px;
}

.ic-spring {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -680px -300px;
}

.ic-gis {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -680px -445px;
}

.ic-game {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -10px -590px;
}

.ic-ws {
  width: 114px; height: 125px;
  background: url('css_sprites.png') -144px -590px;
}