/* start custom scss snippet */
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-subset.css");
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-full.css");
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-subset.css");

body {
  font-family: 'D2Coding', monospace;
}

code {
  font-size: map-get($base, font-size-sm);
  line-height: 1.4;
}
.page__aside .toc-aside {
  padding: 3rem 0 1rem 1rem;
}

.ic {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.ic-ai {
  width: 101px; height: 111px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -10px -10px;
}
.ic-css {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -373px -141px;
}
.ic-docker {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -10px -272px;
}
.ic-es {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -131px -272px;
}
.ic-flask {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -252px -272px;
}
.ic-game {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -373px -272px;
}
.ic-gis {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -494px -10px;
}
.ic-html {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -494px -140px;
}
.ic-java {
  width: 101px; height: 111px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -131px -10px;
}
.ic-js {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -494px -270px;
}
.ic-k8s {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -10px -402px;
}
.ic-linux {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -131px -402px;
}
.ic-mdb {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -252px -402px;
}
.ic-msql {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -373px -402px;
}
.ic-node {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -494px -402px;
}
.ic-odb {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -615px -10px;
}
.ic-php {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -615px -140px;
}
.ic-ps {
  width: 101px; height: 111px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -252px -10px;
}
.ic-psql {
  width: 101px; height: 111px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -10px -141px;
}
.ic-python {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -615px -270px;
}
.ic-react {
  width: 101px; height: 111px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -131px -141px;
}
.ic-redis {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -615px -400px;
}
.ic-spring {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -10px -532px;
}
.ic-vue {
  width: 101px; height: 111px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -252px -141px;
}
.ic-windows {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -131px -532px;
}
.ic-ws {
  width: 101px; height: 110px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -252px -532px;
}
.ic-xd {
  width: 101px; height: 111px;
  background: url('https://github.com/huvso/huvso.github.io/blob/master/assets/images/ic_sprite.png?raw=true') -373px -10px;
}